<h1><%=@reimbursement_request.certifier.full_name.split.second%>,</h1>

<p>
<%= @claimant.full_name %> has resubmitted their reimbursement request.
</p>

<p><%= link_to "View the request here", @reimbursement_request %></p>
<%= render partial: "comments", locals: { comments: @comments } %>

