<h1>Hey <%=@reimbursement_request.certifier.full_name.split.second%>,</h1>

<p>
  This is a Reimbursement Request that has been re-submitted by <%= @reimbursement_request.claimant.full_name.split.second %> <%= @reimbursement_request.claimant.full_name.split.first %>
</p>

<h2><%= link_to "#{@reimbursement_request.claimant.full_name.split.second} #{@reimbursement_request.updated_at
                .in_time_zone("Pacific Time (US & Canada)")
                .strftime("%m/%d/%y")}", @reimbursement_request %></h2>


