<h1><%= @claimant.full_name.split.second %>, </h1>

<p>
  Your reimbursement request has been submitted to <%= @certifier.full_name %> for approval.
</p>

<p><%= link_to 'View the request here', @reimbursement_request %></p>
