<div class="form-row nested-fields">
  <div class="form-col"><%= f.input :attachment, as: :file, label: false, multiple: true%></div>
  <div class="form-col"><%= link_to_remove_association "Remove", f %></div>
</div>
