<div class="print-hide">
  <div class="row">
    <div class="col-12">
      <h3>Change Status:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to "Approve", approve_reimbursement_request_path(@reimbursement_request), method: :patch, class: 'btn btn-success btn-lg' %>
      <%= link_to "Deny", decline_reimbursement_request_path(@reimbursement_request), method: :patch, class: 'btn btn-danger btn-lg' %>
    </div>
  </div>
</div>
