<div id="airfare_panel" class="form-row">
  <div class="col col-12">
    <div class="form-row">
      <h3>Airfare</h3>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "From Location", "To Location", "Notes", "Amount", ""], id: "airfare", total_class: "airfare-total" } do %>
      <%= f.simple_fields_for :expense_airfares do |expense_airfare| %>
        <%= render "expense_airfare_fields", f: expense_airfare %>
      <% end %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :expense_airfares,
          'data-association-insertion-node' => '#airfare tbody',
          'data-association-insertion-method' => 'append' %>
    </div>
  </div>
</div>
