<div class="form-row">
  <h3>Request Information</h3>
</div>
<div class="row">
  <div class="col">
    <%= f.input :description_id,
        collection: @descriptions.sort_by(&:name),
        label_method: lambda { |e| e.name },
        value_method: lambda { |e| e.id },
        label: 'Why did you travel?'  %>
    </div>
  <%= f.input :business_notes_and_purpose, placeholder: 'Explain what happened on your trip.', wrapper_html: { class: "col" }, hint: "250 character maximum" %>
</div>
