<div class="info-panel">
  <div class="form-row">
      <div class="col col-md-3">
        <label>Name</label>
        <p class="lead" id="name"> <%= current_user.full_name if user_signed_in? %> </p>
      </div>
    <div class="col col-md-3">
    <%= f.input :certifier_id,
        required: false,
        collection: @certifiers,
        label_method: lambda { |c| c.full_name },
        value_method: lambda { |c| c.id } %>
    </div>
    <div class="col">
    <%= f.input :description_id,
      collection: @descriptions.sort_by(&:name),
      label_method: lambda { |e| e.name },
      value_method: lambda { |e| e.id },
      required: false,
      label: 'Why did you travel?'  %>
    </div>
  </div>
  <div class="reimbursement_request_business_notes_and_purpose">
    <%= f.input :business_notes_and_purpose,
                class:"reimbursement_request_business_notes_and_purpose",
                id: "review_text",
                placeholder: 'Briefly explain what happened on your trip.',
                maxlength: "250",
                label: "Business notes and purpose <span class='badge badge-warning notes-warning'><i class='fa fa-exclamation'></i><span class='slideout font-weight-normal'>Make sure to explain all of your expenses below</span></span>".html_safe,
                hint: "0/250 characters" %>
  </div>
</div>
