<div class="row">
  <h3>Request Information</h3>
</div>
<div class="row">
  <%= f.input :identifier , wrapper_html: { class: "col" }%>
  <%= f.input :description, as: :text, wrapper_html: { class: "col" } %>
  <%= f.input :business_notes_and_purpose, wrapper_html: { class: "col" } %>
</div>
