<div id="attachments_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.attachments')%></h3>
    </div>
    <div class="form-row">
      <%= f.input 'file_attachments', as: :file,  input_html:{multiple: true, class: "attachment"} %>
    </div>
  </div>
</div>