<div class="row">
  <table id="<%= id %>" class="table" data-total-class="<%= total_class %>">
    <thead>
      <% attributes.each do |attr| %>
        <th><%= attr %></th>
      <% end %>
    </thead>
    <tbody>
      <%= yield %>
    </tbody>
  </table>
</div>
