<div class="form-table">
  <div class="form-row">
    <% attributes.each do |attr| %>
      <div class="form-colh"><%= attr %></div>
    <%end %>
  <div class="form-row"></div>
  </div>
  <%= yield %>
</div>
