<h2 class="h5">Reimbursement Request</h2>
<nav class="nav nav-pills flex-column" label="form">
  <a class="nav-link active" href=#request_information_panel data-toggle="tab" role="tab">Request Information</a>
  <a class="nav-link" href=#itinerary_panel data-toggle="tab" role="tab">Itineraries</a>
  <a class="nav-link" href=#other_expenses_panel data-toggle="tab" role="tab">Other Expenses</a>
  <a class="nav-link" href=#accounting_panel data-toggle="tab" role="tab">Accounting</a>
  <a class="nav-link" href=#airfare_panel data-toggle="tab" role="tab">Airfare</a>
  <a class="nav-link" href=#mileage_panel data-toggle="tab" role="tab">Mileage</a>
  <a class="nav-link" href=#attachments_panel data-toggle="tab" role="tab">Attachments</a>
</nav>
