
<div class="row">
  <div class="card w-100 bg-blue text-white">
    <div class="card-body">
      <div class="row justify-content-between">
        <h3 class="col-md-5 col-sm-3">
          Filter
        </h3>
        <div class="col-md-4 col-sm-9">
          <div class="row justify-content-end">
            <% if user_signed_in? and ( current_user.certifier or current_user.admin ) %>
              <div class="dropdown col">
                <a class="dropdown-toggle" data-toggle="dropdown" href=# aria-haspopup="true" aria-expanded="false">By user</a>
                <div class="dropdown-menu">
                  <div class="form-check dropdown-item">
                    <label class="form-check-label">
                      <input class="form-check-input filter claimant" data-filter-target="claimant" type="checkbox" value="" checked>
                      My Reimbursement Requests
                    </label>
                  </div>
                  <% if current_user.certifier %>
                    <div class="form-check dropdown-item">
                      <label class="form-check-label">
                        <input class="form-check-input filter certifier" data-filter-target="certifier" type="checkbox" value="" checked>
                        Requests where I am the certifier
                      </label>
                    </div>
                  <% end %>
                  <% if current_user.admin %>
                    <div class="form-check dropdown-item">
                      <label class="form-check-label">
                        <input class="form-check-input filter other-user" data-filter-target="other-user" type="checkbox" value="" checked>
                        All others
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="dropdown col">
              <a class="dropdown-toggle" data-toggle="dropdown" href=# aria-haspopup="true" aria-expanded="false">By status</a>
              <div class="dropdown-menu">
                <% APPLICATION_CONFIG[:statuses].each_pair do |k, status|%>
                  <div class="form-check dropdown-item">
                    <label class="form-check-label">
                      <input class="form-check-input filter   " data-filter-target=<%= status["name"].downcase %> type="checkbox" value="" checked>
                      <%= status["name"] %>
                    </label>
                  </div>
                <% end %>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
