<h2 class="h5">Reimbursement Request</h2>
<nav class="nav nav-pills flex-column">
  <a class="nav-link active" href=#request_information_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Request Information</a>
  <a class="nav-link" href=#itinerary_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Itineraries</a>
  <a class="nav-link" href=#other_expenses_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Expenses</a>
  <a class="nav-link" href=#accounting_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Accounting</a>
  <a class="nav-link" href=#airfare_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Airfare</a>
  <a class="nav-link" href=#mileage_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Mileage</a>
  <a class="nav-link" href=#attachments_panel data-toggle="tab" role="tab"><i class="fa fa-caret-right" aria-hidden="true"></i>Attachments</a>
</nav>
