<select id="states-of-country" name="project[state]">
  <option id="no-state" value="" selected>Select Your State</option>

  /* For states within US */
  <% CS.states(:us).each do |key, value| %>
    <option value="<%= value %>" id="<%= key %>"><%= value %></option>
  <% end %>
</select>

<select id="cities-of-state" name="project[city]"  required>
  <option value="" selected>Select Your City</option>
</select>

<script>

</script>