<div class="footer">
    <div class="container">
    <div class="d-flex align-items-end flex-column">
      <div class="mt-auto p-2">
        <p>&copy; Copyright 2017</p>
      </div>
    </div>
    </div>
</div>