<div class="footer">
    <ul class="list-inline float-right">
      <li class="list-inline-item"><a href="mailto:<%= ENV['CONTACT_EMAIL'] %>?subject=TresBien Feedback" class="inline">Contact Us</a></li>
      <li class="list-inline-item"><p class="inline">&copy; Copyright 2017</p></li>
    </ul>
</div>