
<%# Functioning select menu, reads only active  %>
<%= form_with(expense_type: @expense_type, local: true) do |form| %>
      <select class="selectpicker" data-width="auto">
      <% @active_expense_types.each do |expense_type| %>
      <option><%=link_to expense_type.name, edit_expense_type_path(expense_type)%></option>
      <% end %>
    </select>
<% end %>

<br>




