<h1>Hey <%=@reimbursement_request.claimant.full_name.split.second%>,</h1>

<p>
  This is the new Reimbursement Request that needs reviewing.
</p>

<h2><%= link_to @reimbursement_request.identifier, @reimbursement_request %></h2>


