
<div class="row justify-content-center">
  <%= link_to "New Reimbursement Request", new_reimbursement_request_path, class: "btn btn-success btn-lg" %>
</div>
<br>
<br>
<br>
<div class="container">
  <%= render partial: "reimbursement_requests/reimbursement_requests_table" %>
</div>
