@import "bootstrap";
@import "font-awesome";
@import "jquery.datetimepicker.min";
@import "dropzone/dropzone";
@import "variables";
@import "reimbursement_request";
@import "show";
@import "home";
@import "navbar";
@import "footer";
@import "brand";
@import "pill_navigation";
@import "comments";
html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: $font-size;
  padding-top: 75px;
  margin: 25px 0 100px;
  /* bottom = footer height
     top = space under navbar */
}

.hidden {
  display: none;
}

a {
  font-weight: bold;
}
