@import "bootstrap";
@import "font-awesome";
@import "jquery.datetimepicker.min";
@import "variables";
@import "reimbursement_request";
@import "navbar";
body {
  font-size: $font-size;
  padding-top: 75px;
}

.welcome {
  padding-top: 23px;
  padding-right: 50px;
  cursor: default;
}

.hidden {
  display: none;
}
