// @import "other files and stuff"
/*
 *= require jquery.datetimepicker.min
 */

@import "bootstrap";

.name input{
  width: 100%;
}

.row{
  padding-bottom: 10px;
}

.save input{
  width: 75px;
}

.form-table {
  display: table;
}

.form-row {
  display: table-row;
  .form-group {
    margin-bottom: .25rem;
  }
}

.form-col {
  display: table-cell;
  padding: 5px;
}

.form-colh {
  display: table-cell;
  // font-weight: bold;
}
