h2 {
  font-family: 'Stratum2Web', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: $orange;
}

h3 {
  font-family: 'Stratum2Web', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: $orange;
}

h4 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: $orange;
}

h5 {
  font-family: 'Open sans', sans-serif;
  font-size: 1.1rem;
  color: $orange;
  border-bottom: none;
}

.btn-primary {
  background-color: $add-and-save-btn;
  color: $white;
  border: 2px solid darken($add-and-save-btn, 5%);
}

.btn-primary:hover {
  background-color: lighten($add-and-save-btn, 10%);
  color: $white;
  cursor: pointer;
  border: 2px solid $add-and-save-btn;
}

.btn-success {
  background: $new-and-submit-btn;
  color: $white;
  border: 2px solid darken($new-and-submit-btn, 5%);
}

.btn-success:hover {
  background: lighten($new-and-submit-btn, 10%);
  color: $white;
  cursor: pointer;
  border: 2px solid $new-and-submit-btn;
}

.btn-danger {
  background: $error-red-dark;
  color: $white;
  border: 2px solid darken($error-red-dark, 10%);
}

.btn-danger:hover {
  background: lighten($error-red-dark, 5%);
  color: $white;
  cursor: pointer;
  border: 2px solid $error-red-dark;
}

a {
  color: $new-and-submit-btn;
  cursor: pointer; // font-size: $font-size+.1rem;
}
