table {
  margin-top: 20px;
  tbody {
    tr {
      &.approved {
        background-color: $reindeer-moss; 
      }
      &.denied {
        background-color: $error-red-light;
      }
    }
  }
}
.card {
  box-shadow: 0px 1px 5px gray;
  &.bg-orange {
    background-color: $btn-success; 
  }
  &.text-white {
    h3 {
      color: white;
    }
    a {
      color: white;
    }
  }
  .card-body {
    padding: 10px 15px;
    h3, p, a {
      margin-bottom: 0px;
    }
  }
}

