table {
  margin-top: 20px;
  tbody {
    tr {
      &.approved {
        td:last-child {
          color: $submit;
        }
      }
      &.declined {
        td:last-child {
          color: $error-red-dark;
        }
      }
      &.submitted {
        td:last-child {
          color: $btn-success;
        }
      }
      td {
        .fa {
          margin-right: 5px;
        }
      }
    }
  }
}
.card {
  box-shadow: 0px 1px 5px gray;
  &.bg-orange {
    background-color: $btn-success; 
  }
  &.text-white {
    h3 {
      color: white;
    }
    a {
      color: white;
    }
  }
  .card-body {
    padding: 10px 15px;
    h3, p, a {
      margin-bottom: 0px;
    }
  }
}

