@import 'bootstrap';
.row {
  margin-bottom: 20px;
  &.image-row {
    margin-bottom: 80px;
    .col {
      img {
        max-width: 100%;
      }
    }
  }
}

.print-hide {
  display: none;
}

// Use this to avoid having rows/table rows/whatever cut in half when generating pdfs. May need to adjust selected elements as page evolves
.row {
  page-break-inside: avoid;
}
