
.nav-pills { 
  a.nav-link {
    color: $btn-success;
    border: 1px solid lighten($btn-success, 50%);
    &:focus {
      border: 2px solid $btn-success;
      box-shadow: 0px 0px 2px 1px gray;
    }
    border-bottom: none;
    border-radius: 0;
    i.fa {
      &.fa-caret-right {
        display: none;
        padding-right: 10px;
      }
      &.fa-exclamation-circle {
        display: none;
        padding-left: 5px;
      }
    }
    &.has-error {
      &:focus {
        border: 2px solid $error-red-dark;
        box-shadow: 0px 0px 2px 1px lightgray;
      }
      background-color: $error-red-light;
      color: $error-red-dark;
      i.fa.fa-exclamation-circle {
        display: inline-block;
      }
    }
  }
  a.nav-link:last-child {
    border-bottom: 1px solid lighten($btn-success, 50%);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  a.nav-link:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  a.nav-link.active { 
    color: white;
    padding-left: 25px;
    background-color: $btn-success;
    animation-duration: .5s;
    animation-name: popleft;
    i.fa {
      &.fa-caret-right {
        display: inline-block;
      }
    }
    &.has-error {
      background: $error-red-dark;
      text-color: white;
    }
  }
}

@keyframes popleft {
  from {
    padding-left: 16px;
  }

  to {
    padding-left: 25px;
  }
}
