// Place all the styles related to the reimbursement_request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  margin-bottom: 0;
  thead {
    tr {
      th {
        padding: 0 0 0 0.25rem;
        border: none;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 0.25rem 0 0 0.25rem;
      }
    }
  }
}

.table {
  tbody {
    tr.travel-city,
    tr.travel-itinerary {
      td {
        div {
          input {
            max-width: 92px;
          }
          input.datepicker {
            width: 120px;
            max-width: 120px;
          }
        }
        div.travel-city-controls {
          min-width: 65px;
        }
      }
    }
    tr.travel-itinerary {
      td {
        div {
          input {
            max-width: 90px;
          }
        }
      }
    }
  }
}

.row.grand-totals {
  label {
    text-align: right;
    padding: 0.2rem 0.4rem 0.2rem 0;
  }
  input {
    background-color: transparent;
    border: none;
    font-size: $font-size;
    padding: 0.2rem 0.75rem 0.2rem 0;
  }
  .grand-total-label, .grand-total-input {
    font-weight: bold;
    font-size: $font-size + 0.1rem;
  }
}
