// Place all the styles related to the reimbursement_request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reimbursement-request-form {
  .row {
    margin-bottom: 20px;
  }
  .table {
    margin-bottom: 0;
    display: none;
    thead {
      tr {
        th {
          border: none;
          padding: 0 0 0 0.25rem;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 0.25rem 0 0 0.25rem;
        }
      }
    }
  }
  .table {
    tbody {
      tr.travel-city,
      tr.travel-itinerary {
        td {
          .form-group {
            margin-bottom: 0;
          }
          .international-travel {
            margin-top: 0.3rem;
            color: $orange;
            &:hover {
              cursor: pointer;
              color: $black;
            }
          }
          div {
            input {
              max-width: 92px;
            }
            input.datepicker {
              width: 120px;
              max-width: 120px;
            }
          }
          div.travel-city-controls {
            min-width: 65px;
          }
        }
      }
      tr.travel-itinerary {
        td {
          div {
            input {
              max-width: 90px;
            }
          }
        }
      }
    }
  }
  .grand-totals {
    padding: 0;
    margin-top: 20px;
    .card-body {
      padding: 0;
    }
    .grand-total-label,
    .grand-total-input,
    .grand-total-input-label {
      font-weight: bold;
      font-size: $font-size + 0.1rem;
    }
    .card-header {
      text-align: center;
    }
    .row {
      margin: 0px 0px 5px 0px;
      border-bottom: 1px solid $bs-gray-light;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .add_fields {
    margin: 5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 15px;
  }
  .attachment {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .submit-row {
    margin-top: 15px;
    border-top: 1px solid #c6c6c6;
    .btn {
      margin-top: 25px;
      margin-bottom: 20px;
      &.btn-primary {
        padding: 8px 20px;
        .fa-chevron-left {
          margin-right: 5px;
        }
        .fa-chevron-right {
          margin-left: 5px;
        }
      }
    }
  }
  .flash_messages {
    margin-top: 35px;
    width: 60%;
    h2.panel-title {
      color: $error-red-dark;
    }
    .alert {
      a.toggle-show {
        color: $error-red-dark;
        i {
          transform: rotate(0deg);
          transition: .25s;
        }
        &[aria-expanded="true"] {
          i {
            transform: rotate(180deg);
            transition: .25s;
          }
        }
      }
    }
  }
  div.has-error {
    input,
    select {
      border: 1px $error-red-dark solid;
      background-color: $error-red-light;
    }
    .help-block {
      color: $error-red-dark;
    }
  }
}

@media print {
  .print-hide {
    display: none;
  }
}

.tab-pane {
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.visibility-hidden {
  visibility: hidden;
}

.badge {
  font-size: 1.2rem;
}
