.show {
  .badge {
    color: white;
    &.draft {
      background-color: $bs-gray-dark;
    }
    &.submitted {
      background-color: $nav-blue;
    }
    &.declined {
      background-color: $error-red-dark;
    }
    &.approved {
      background-color: $new-and-submit-btn;
    }
  }
  .row {
    margin-bottom: 20px;
  }
  .btn {
    p {
      margin-bottom: 0px;
    }
    &.loading {
      color: white;
      background-color: white;
      border: 0px solid white;
      box-shadow: 0px 0px 0px 0px white;
      text-align: center;
      p {
        line-height: 0px;
      }
    }
    .fa-spin {
      color: #111;
      z-index: 100;
    }
  }
}