.show {
  .badge {
    color: white;
    &.draft {
      background-color: $bs-gray-dark;
    }
    &.submitted {
      background-color: $nav-blue;
    }
    &.declined {
      background-color: $error-red-dark;
    }
    &.approved {
      background-color: $new-and-submit-btn;
    }
  }
  .row {
    margin-bottom: 20px;
  }
}