$font-size: 1rem;
$black: #000000;
$orange: #dc4405;
$white: #fff;
$btn-success: #2e5090;
$btn-success-light: lighten($btn-success, 50%);
$submit: #4A773C;
$addbtn: #00859B;
$reindeer-moss: #c4d6a4;
$error-red-dark: #dc3545;
$error-red-light: #f8d7da;
$bs-gray-dark: #343a40;
$bs-gray-light: rgba(0, 0, 0, 0.125);
