$font-size: 0.75rem;
$black: #000000;
$orange: #dc4405;
$white: #fff;
$btn-success: #2e5090;
$btn-danger: #00849b;
$button: #00859B;
$s-button: saturate($button, 80%);
$submit: #4A773C;
$s-submit: saturate($submit, 30%);